<style>
    .editor {}

    .editor .form {
        display: "grid";
    }

    .editor .form .label {}
</style>
<div class="editor">
    <h1>Editor</h1>
    <div class="form">
        <div class="form-group">
            <div class="label">Entry:</div>
            <div class="input">
                <input name="txtEntry" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="label">Output:</div>
            <div class="input">
                <input name="txtDir" type="text" />
                <input name="txtOutputFilename" type="text" />
            </div>
        </div>
    </div>
</div>